.popup {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  visibility: hidden;
}
.popup-active{
  visibility:visible;
}
.popup__window {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 34px 36px 28px 36px;
}
.popup__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1a1b22;
}
.popup__close-button {
  background-image: url("../../images/close.svg");
  background-blend-mode: overlay;
  background-color: initial;
  background-size: cover;
  border-style: hidden;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: -32px;
  top: -40px;
  transition: opacity 0.4s;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input {
  padding: 0;
  margin-top: 9px;
  border: none;
  outline: none;

  border-bottom: 1px solid rgba(0,0,0,.2);;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 34px;
}
.form__label {
  padding: 0;
  margin-top: 18px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
}
.form__register {
  padding: 0;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__button {
  width: 360px;
  height: 64px;
  border: none;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  margin-top: 39px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  color: #ffffff;
}

.form__redirect {
  margin-top: 16px;
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
}
.form__redirect_link{
  color: #2F71E5;
  border: none;
  background: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .popup__window{
    padding: 16px 16px 0px 16px;
    margin-top: 200px;
    width: 90%;
    max-height: 960px;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .popup__close-button {
    right: 32px;
    top: -32px;
    width: 24px;
    height: 24px;
  }
  .form__button{
    max-width: 90%;
  }
}