.logo {
  padding-left: 104px;
  display: flex;
  align-items:center;
  text-decoration: none;
}
.logo__header{
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
