.navigation {
  padding-right: 104px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 42px;
  display: none;
}

.navigation__button {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  max-width: 70px;
  height: 80px;
  border-bottom: 3px solid #ffffff;
}

.navigation__button:last-child {
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 100px;
  min-width: 176px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding-right: 40px;
    gap: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .navigation__button {
    height: 65px;
  }

  .navigation__button:last-child {
    min-width: 152px;
    height: 40px;
  }
}
@media screen and (max-width: 480px) {
}
