.header {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  height: 80px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
@media screen and (max-width: 768px) {
  .header{
    height: 65px;
  }
}
@media screen and (max-width: 480px) {
  .header{
    height: 56px;
  }
}
