.about-me {
  display: flex;
}
.about-me__wrapper {
  margin-top: 131px;
}
.about-me__profile-photo {
  border-radius: 1000px;
  max-width: 464px;
  max-height: 464px;
  margin: 80px 56px 80px 104px;
}
.about-me__header {
  margin: 0;
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: #1A1B22;
}
.about-me__description{
  margin-top: 24px;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .about-me__wrapper {
    margin-top: 40px;
  }
  .about-me__profile-photo {
    max-width: 232px;
    max-height: 232px;
    margin: 61px 32px 61px 40px;
  }
  .about-me__header {
    font-size: 32px;
    line-height: 40px;
  }
  .about-me__description{
    margin-top: 16px;
    max-width: 424px;
  }
}
@media screen and (max-width: 480px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .about-me__wrapper {
    margin-top: 0px;
  }
  .about-me__profile-photo {
    max-width: 232px;
    max-height: 232px;
    margin: 32px 24px 24px 24px;
  }
  .about-me__header {
    font-size: 30px;
    margin: 0 16px;
  }
  .about-me__description{
    margin: 16px 16px 128px 16px;
  }
}
